@charset "UTF-8";
@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --font-color: black;
    --accent-color: #1c1c5c;
    --darker-background-color: #f4f4f4;
    --gray-color: #c4c4c4;
    --hover-accent-color: 0;
    --filter-img: none;
    --filter-logo-name: invert(1);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #131320;
    --font-color: white;
    --accent-color: #ff9a47;
    --darker-background-color: #19192b;
    --gray-color: rgba(155, 155, 155, 0.64);
    --hover-accent-color: #ffc391;
    --filter-img: invert(72%) sepia(49%) saturate(1805%) hue-rotate(327deg) brightness(103%) contrast(101%);
    --filter-logo-name: none;
  }
}
[data-theme=light] {
  --background-color: white;
  --font-color: black;
  --accent-color: #1c1c5c;
  --darker-background-color: #f4f4f4;
  --gray-color: #c4c4c4;
  --hover-accent-color: 0;
  --filter-img: none;
  --filter-logo-name: invert(1);
}

[data-theme=dark] {
  --background-color: #131320;
  --font-color: white;
  --accent-color: #ff9a47;
  --darker-background-color: #19192b;
  --gray-color: rgba(155, 155, 155, 0.64);
  --hover-accent-color: #ffc391;
  --filter-img: invert(72%) sepia(49%) saturate(1805%) hue-rotate(327deg) brightness(103%) contrast(101%);
  --filter-logo-name: none;
}

.theme-switcher-dark, .theme-switcher-light {
  display: none;
}
[data-theme=dark] .theme-switcher-dark, [data-theme=light] .theme-switcher-light {
  display: block;
}

button {
  border-radius: 21px;
  padding: 6px 10px;
  margin: 5px;
  transition: ease-in;
}

.button {
  border-radius: 21px;
  padding: 6px 10px;
  margin: 5px;
  transition: ease-in;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.button-border {
  color: var(--accent-color);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}
.button-border:hover {
  background-color: var(--accent-color);
  color: var(--darker-background-color);
}

.button-background {
  color: var(--darker-background-color);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
.button-background:hover {
  background-color: var(--hover-accent-color);
  color: var(--darker-background-color);
  border-color: var(--hover-accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* sections */
section {
  padding: 50px 20px;
}

/* Para ocultar elementos*/
.hidden {
  display: none;
}

/* General Styles */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--darker-background-color);
  border-bottom: 3px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#theme-switcher {
  background: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: ease-in-out;
  border-radius: 50%;
  padding: 5px;
  font-size: 0; /* Para no modificar el tamaño */
}
#theme-switcher:hover {
  background-color: rgba(105, 105, 105, 0.3803921569);
}

/* Logo */
.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.logo a {
  text-decoration: none;
}
.logo .logo-name {
  margin-left: 15px;
  filter: var(--filter-logo-name);
  height: 20px;
}

/* Navbar Elements */
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  border-top: 3px solid black;
  background-color: var(--darker-background-color);
  padding-top: 20px;
}
footer .logo .logo-name {
  fill: var(--fill-logo-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-section h3 {
  color: var(--accent-color);
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 14px;
}
.footer-section ul li a:hover {
  text-decoration: underline;
}

.login-button {
  font-size: 12px;
  padding: 6px;
}

.footer-section.contact .social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.footer-section.contact .social-icons a img {
  padding-right: 20px;
  width: 40px;
}

.filter-img {
  filter: var(--filter-img);
}

.footer-section.contact p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-copy {
  background-color: var(--background-color);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
.footer-copy p {
  color: var(--accent-color);
  margin: 0;
  font-size: 14px;
}

.main-news {
  display: flex;
  padding: 20px;
}

.main-article {
  flex: 2;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-article img {
  width: 100%;
  height: auto;
}

.main-article-content {
  padding: 15px;
}
.main-article-content h2 {
  margin-top: 0;
}

.secondary-articles {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-article,
.secondary-articles article {
  background-color: var(--darker-background-color);
}

.secondary-articles {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.secondary-articles img {
  width: 100%;
  height: auto;
}
.secondary-articles h3 {
  padding: 10px;
  margin: 0;
}
.secondary-articles p {
  padding: 0 10px 10px;
  margin: 0;
  color: var(--gray-color);
}

.news-header {
  text-align: center;
  margin-bottom: 20px;
}
.news-header h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.news-header hr {
  width: 80%;
  height: 2px;
  background-color: var(--font-color);
  border: none;
  margin: 0 auto;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: var(--background-color);
}

.grid-item {
  background-color: var(--darker-background-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}
.grid-item img {
  width: 100%;
  height: auto;
}
.grid-item h3 {
  padding: 10px;
  margin: 0;
}
.grid-item p {
  padding: 0 10px 10px;
  margin: 0;
  color: var(--gray-color);
}
.grid-item:hover {
  transform: translateY(-5px);
}

:is(.grid-item, .main-article, .secondary-articles) a {
  text-decoration: none;
  color: var(--font-color);
}

/*# sourceMappingURL=news.css.map */
