@use "../themes";
@use "../styles";
@use "../nav-footer";

.hero {
  background-image: url("../../images/EarthFromSpaceBackground.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero-content {
  background-color: #00000044;
  padding: 30px 0px;
}

.hero h2 {
  font-size: 36px;
  margin: 0;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}

.content h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cta {
  background-color: #19191a;
  color: white;
  text-align: center;
  padding: 60px 20px;
  margin-top: 40px;
}

.cta h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.cta p {
  font-size: 16px;
  margin-bottom: 20px;
}

.about-content h2 {
  font-size: 28px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  margin-bottom: 20px;
}
