@use "../themes";
@use "../styles";
@use "../nav-footer";
@use "../variables";
@import "../mixins/medias";

h1 {
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid var(--accent-color);
  }
}

.mission-list {
  margin: 20px;
}

.mission-card {
  border-radius: 1em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 2px solid transparent;
  position: relative;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
}

.mission-list:hover .mission-card {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.mission-list:hover .mission-card:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.mission-link {
  text-decoration: none; /* Para que no subraye el texto */
  display: flex;
  color: var(--font-color);
}

.mission-image {
  position: relative;
  width: 40%;

  .image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.skeleton {
  background-color: var(--darker-background-color);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

img.lazy-load {
  display: none;
  width: 100%;
  height: auto;
}

.agency-logo {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20%;
}

.mission-details {
  padding: 20px;
  background-color: var(--darker-background-color);
  color: var(--font-color);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mission-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--font-color);
}

.icon-info {
  display: flex;
  align-items: center;

  span {
    font-size: variables.$font-size-medium;

    @include max-width(430px) {
      display: none;
    }
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    filter: var(--filter-logo-name);
  }
}

.mission-details h3 {
  font-size: variables.$font-size-xlarge;
  text-overflow: ellipsis;
  overflow: clip;
  margin: 2px;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.pagination {
  display: inline-flex;
  align-items: center;

  span {
    margin-right: 10px;
  }
}

.next-page {
  background-color: var(--accent-color);
  color: var(--font-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

@include max-width(768px) {
  .mission-link {
    flex-direction: column;
  }

  .mission-image,
  .mission-details {
    width: auto;
  }
}

.pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
  margin: 20px 0;

  a {
    color: var(--font-color);
    padding: 1em;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover:not(.active) {
      background-color: var(--accent-color);
      color: var(--darker-background-color);
    }

    &.active {
      color: var(--accent-color);
      cursor: default;
    }

    &:first-child,
    &:last-child {
      font-weight: bold;
    }
  }
}
