@use "../themes";
@use "../styles";
@use "../nav-footer";

.news-article {
  margin: 20px auto;
  background-color: var(--darker-background-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 220px;
}

.news-content {
  padding: 20px;

  h1 {
    font-size: 28px;
    color: var(--font-color);
    margin-bottom: 10px;
  }
}

.news-meta {
  font-size: 14px;
  color: var(--gray-color);
  margin-bottom: 20px;
}

.news-text {
  font-size: 18px;
  line-height: 1.6;
  color: var(--font-color);
}

div {
  margin: 20px 0;
}