@use "../themes";
@use "../styles";
@use "../nav-footer";
@use "../pagination";
@use "../lazyload";

.main-news {
  display: flex;
  padding: 20px;
}

.main-article {
  flex: 2;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img {
    height: auto;
    width: auto;
    object-fit: cover;
  }
}

.main-article-content {
  padding: 15px;

  h2 {
    margin-top: 0;
  }
}

.secondary-articles {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    padding: 10px;
    margin: 0;
  }

  p {
    padding: 0 10px 10px;
    margin: 0;
    color: var(--gray-color);
  }
}

.main-article,
.secondary-articles article {
  background-color: var(--darker-background-color);
}

.news-header {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  hr {
    width: 80%;
    height: 2px;
    background-color: var(--font-color);
    border: none;
    margin: 0 auto;
  }
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: var(--background-color);
}

.grid-item {
  background-color: var(--darker-background-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }
  h3 {
    padding: 10px;
    margin: 0;
  }
  p {
    padding: 0 10px 10px;
    margin: 0;
    color: var(--gray-color);
  }
  &:hover {
    transform: translateY(-5px);
  }
}

:is(.grid-item, .main-article, .secondary-articles) a {
  text-decoration: none;
  color: var(--font-color);
}