@use "styles";
@use "variables";
@import "mixins/medias";

$nav-footer-border-size: 3px;
$nav-footer-border-style: solid;
$switcher-hover-background-color: #69696961;

$breakpoint-nav: 875px;
$breakpoint-footer: 750px;

/* General Styles */
body {
  font-family: variables.$body-font, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: variables.$padding-top-bottom-nav variables.$padding-left-rigth-nav;
  background-color: var(--darker-background-color);
  border-bottom: $nav-footer-border-size $nav-footer-border-style #ccc;
  position: sticky;
  top: 0;
  z-index: variables.$z-index-nav;
}

@mixin menu-style($order) {
  display: none;
  order: $order;
  &.active {
    display: flex;
  }
}

@include max-width($breakpoint-nav) {
  .top-menu {
    padding: variables.$padding-top-bottom-nav variables.$padding-left-rigth-nav;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .nav-links {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0;
    width: inherit;

    li {
      border-top: 1px solid var(--font-color);
      padding: 1em;
    }
  }

  #nav-links {
    width: 100%;

    @include menu-style(3);
  }

  .nav-buttons {
    align-self: end;
    @include menu-style(2);
  }
}

#theme-switcher {
  background: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: ease-in-out;
  border-radius: 50%;
  padding: 5px;
  font-size: 0; /* Para no modificar el tamaño */

  &:hover {
    background-color: $switcher-hover-background-color;
  }
}

/* Logo */
.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  a {
    text-decoration: none;
  }

  .logo-name {
    margin-left: 15px;
    filter: var(--filter-logo-name);
    height: variables.$logo-height;
  }
}

/* Navbar Elements */
nav ul {
  padding: 0;
  display: flex;
  list-style-type: none;

  li {
    margin: 0 1em;

    a {
      text-decoration: none;
      color: var(--font-color);
      font-weight: bold;
      font-family: variables.$header-font, sans-serif;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include max-width($breakpoint-nav) {
    display: none;
  }
}

button.hamburger {
  border-radius: 0;
  border: none;
  background-color: transparent;

  img {
    filter: var(--filter-img);
  }

  @include min-width($breakpoint-nav) {
    display: none;
    order: 1;
  }
}

.top-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @include max-width($breakpoint-nav) {
    width: 100%;
  }
}

/* Footer */
footer {
  border-top: $nav-footer-border-size $nav-footer-border-style black;
  background-color: var(--darker-background-color);
  padding-top: 20px;

  .logo .logo-name {
    fill: var(--fill-logo-color);
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  flex-direction: row;

  @include max-width($breakpoint-footer) {
    flex-direction: column;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h3 {
    color: var(--accent-color);
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include max-width($breakpoint-footer) {
      flex-direction: row;
    }

    li {
      margin-bottom: 8px;

      a {
        color: var(--font-color);
        text-decoration: none;
        font-size: variables.$font-size-xsmall;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.login-button {
  font-size: variables.$font-size-nav-button;
  padding: variables.$padding-top-bottom-button;
}

.footer-section.contact .social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;

  a img {
    width: 40px;
  }
}

.filter-img {
  filter: var(--filter-img);
}

.footer-section.contact p {
  margin: 5px 0;
  font-size: variables.$font-size-small;
}

.footer-copy {
  background-color: var(--background-color);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;

  p {
    color: var(--accent-color);
    margin: 0;
    font-size: variables.$font-size-small;
  }
}
