@use "themes";
@use "variables";

$padding-sections: 50px 20px;
$border-size-button: 21px;

button,
.button {
  border-radius: $border-size-button;
  padding: variables.$padding-button-top-bottom
    variables.$padding-button-left-right;
  margin: variables.$margin-button;
  transition: ease-in;
  font-weight: bold;
}

a .button {
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.button-border {
  color: var(--accent-color);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);

  &:hover {
    background-color: var(--accent-color);
    color: var(--darker-background-color);
  }
}

.button-background {
  color: var(--darker-background-color);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);

  &:hover {
    background-color: var(--hover-accent-color);
    color: var(--darker-background-color);
    border-color: var(--hover-accent-color);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$header-font, sans-serif;
}

/* sections */
section {
  padding: $padding-sections;
}

/* Para ocultar elementos*/
.hidden {
  display: none;
}
