$header-font: "Montserrat";
$body-font: "Open Sans";
$padding-button-top-bottom: 6px;
$padding-button-left-right: 10px;
$margin-button: 5px;

// Nav options
$z-index-nav: 1000;
$padding-top-bottom-nav: 10px;
$padding-left-rigth-nav: 20px;
$logo-height: 20px;

// Font-size
$font-size-xlarge: 3rem; //48px;
$font-size-large: 2.25rem; //36px;
$font-size-medium: 1.125rem; //18px;
$font-size-small: 1rem; //16px;
$font-size-xsmall: 0.875rem; //14px

// Nav buttons
$border-size-nav-button: 2px;
$font-size-nav-button: 12px;
$padding-top-bottom-button: 6px;
