$header-font: "Montserrat";
$body-font: "Open Sans";
$padding-button-top-bottom: 6px;
$padding-button-left-right: 10px;
$margin-button: 5px;

$z-index-nav: 1000;
$padding-top-bottom-nav: 10px;
$logo-height: 20px;
$font-size-nav-button: 12px;
$border-size-nav-button: 2px;
$padding-top-bottom-button: 6px;
