:root {
  --border-grid: 40px;
  --font-size-p: 12px;
  --border-color: #4c5df6;
}

h1 {
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid var(--accent-color);
}

.search-container button {
  background-color: #292954;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.mission-list {
  margin: 20px;
}

.mission-card {
  border-radius: var(--border-grid);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 2px solid transparent;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission-card:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.mission-list:hover .mission-card {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.mission-list:hover .mission-card:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.mission-link {
  text-decoration: none; /* Para que no subraye el texto */
  display: flex;
  color: var(--font-color);
}

.mission-image {
  position: relative;
  width: 40%;
}

.mission-image img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.agency-logo {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20%;
  height: 20%;
}

.mission-details {
  padding: 20px;
  background-color: var(--darker-background-color);
  color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mission-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  font-size: var(--font-size-p);
  border-bottom: 3px solid var(--font-color);
}

.icon-info {
  display: flex;
  align-items: center;
}

.icon-info span {
  font-size: 20px;
}

.icon-info img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.mission-details h3 {
  font-size: 45px;
  margin: 2px;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.pagination {
  display: inline-flex;
  align-items: center;
}

.pagination span {
  margin-right: 10px;
}

.next-page {
  background-color: #292954;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mission-link {
    flex-direction: column;
  }

  .mission-image,
  .mission-details {
    width: 100%;
  }
}
