.main-news {
  display: flex;
  padding: 20px;
}

.main-article {
  flex: 2;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-article img {
  width: 100%;
  height: auto;
}

.main-article-content {
  padding: 15px;
}

.main-article-content h2 {
  margin-top: 0;
}

.secondary-articles {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-article,
.secondary-articles article {
  background-color: var(--darker-background-color);
}

.secondary-articles {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.secondary-articles img {
  width: 100%;
  height: auto;
}

.secondary-articles h3 {
  padding: 10px;
  margin: 0;
}

.secondary-articles p {
  padding: 0 10px 10px;
  margin: 0;
  color: #555;
}

.news-section {
  padding: 20px;
  background-color: #f4f4f4;
}

.news-header {
  text-align: center;
  margin-bottom: 20px;
}

.news-header h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.news-header hr {
  width: 80%;
  height: 2px;
  background-color: #cccccc;
  border: none;
  margin: 0 auto;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: var(--background-color);
}

.grid-item {
  background-color: var(--darker-background-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.grid-item a,
.main-article a,
.secondary-articles a {
  text-decoration: none;
  color: var(--font-color);
}

.grid-item h3 {
  padding: 10px;
  margin: 0;
}

.grid-item p {
  padding: 0 10px 10px;
  margin: 0;
  color: var(--gray-color);
}

.grid-item:hover {
  transform: translateY(-5px);
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
